.gamemodes {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gamemodes 
.league-button,
.league-button-disabled {
    margin: 25px;
    width: 30%;
}