.game {
    display: flex;
    justify-content: center;
    gap: 25px;
}

@media screen and (max-width: 1500px) {
    .game {
        flex-direction: column;
        align-items: center;
    }
}

.ability {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    padding: 25px;
    gap: 15px;
}

@media screen and (max-width: 1500px) {
    .ability {
        width: 50%;
    }
}

@media screen and (max-width: 1250px) {
    .ability {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    .ability {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .ability {
        width: 100%;
    }
}

.description {
    letter-spacing: 1.5px;
    max-height: 100px;
    overflow: auto;
    margin: auto;
    padding: 20px;
    padding-bottom: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.submit-button {
    border: none;
    background: none;
    cursor: pointer;
}

.submit-button img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 0px 10px #0a9bc4);
}

.submit-button:disabled {
    cursor: not-allowed;
}

.submit-button:disabled img {
    filter: drop-shadow(0px 0px 10px #802525);
}

.retry {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    gap: 15px
}

@media screen and (max-width: 450px) {
    .retry {
        gap: 5px;
    }
}


.retry button,
.twitter-share-button {
    width: 35%;
}

.guess {
    width: 100%;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 1500px) {
    .informations {
        flex-direction: row;
    }
}

.stat {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
    color: #cdbe91;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
}

@media screen and (max-width: 600px) {
    .stat {
        gap: 1.5px;
        font-size: x-small;
        font-weight: normal;
    }
}

.stat-description img {
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 600px) {
    .stat-description img {
        padding-right: 2.5px;
        padding-left: 2.5px;
        width: 10px;
        height: 10px;
    }
}
