.title {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.game {
    /* It's setting the element to be a flexbox and it's centering the content of the element. */
    display: flex;
    justify-content: center;

    /* It's adding a gap of 15px between each element. */
    gap: 25px;

    /* It's adding a margin of 100px to the top of the element. */
    margin: 25px;
}

.league-box {
    background: #1e2328;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 3px;
    border-style: dashed;

    /* It's adding padding to the element. */
    padding: 10px;
}

.league-button {
    background: #1e2328;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #0df6fc, #0a9bc4);
    border-image-slice: 1;
    border-width: 3px;
    border-style: dashed;

    /* It's adding padding to the element. */
    padding: 10px;

    transition: all 0.3ms ease-out;

    /* It's centering the text. */
    text-align: center;

    /* It's setting the color of the text. */
    color: #cdbe91;
    /* It's setting the font of the text to Rubik. */
    font-family: 'Rubik', sans-serif;
}

.league-button:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px #076571;
    transition: all 0.3ms ease-out;
}

.ability {
    /* It's setting the element to be a flexbox and it's centering the content of the element. */
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* It's setting the max width of the element to 30% of the screen and it's allowing the text to wrap
    anywhere. */
    width: 25%;
    padding: 25px;
    gap: 15px;
}

.description {
    /* It's centering the text and it's adding a space of 1.5px between each letter. */
    text-align: center;
    letter-spacing: 1.5px;

    max-height: 200px;

    /* It's setting the color of the text. */
    color: #cdbe91;

    /* It's allowing the text to wrap anywhere. */
    overflow: auto;
    margin: auto;

    /* It's setting the font of the text to Roboto. */
    font-family: 'Roboto', sans-serif;

    padding: 20px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    gap: 15px;
}

.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    width: 100%;
    color: #cdbe91;

    height: 200px;
    overflow: auto;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    background-color: #1e2328;

    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.suggestion img {
    width: 30px;
    height: 30px;
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    transition: all 0.3ms ease-in;
    background-color: #00434f;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.guess {
    width: 100%;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.informations {
    /* It's setting the element to be a flexbox and it's centering the content of the element. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.stat {
    /* It's setting the element to be a flexbox and it's centering the content of the element. */
    display: flex;
    justify-content: center;
    gap: 5px;

    /* It's centering the text. */
    text-align: center;

    /* It's setting the color of the text. */
    color: #cdbe91;
    /* It's setting the font of the text to Rubik. */
    font-family: 'Rubik', sans-serif;
}

.stat-description img {
    /* It's centering the image. */
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
    width: 15px;
    height: 15px;
}

.timer {
    display: flex;
    justify-content: center;
    margin: auto;

    background: linear-gradient(#33d9b2 0%, #218c74 100%);
    height: 5px;
    width: 100%;
}